
.btn{
    display: flex;
    margin-top: 5%;
    min-height: 5%;border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1%;
    background: #ec008c;  
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  
    background: linear-gradient(to right, #fc6767, #ec008c); 

  }
  
  .btn a{
    text-decoration: none;
  }

/* 
  background: #ec008c;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/